<h1>Editing comment</h1>

<%= render 'form' %>

<%= link_to 'Show', article_comment_path(@comment.article, @comment) %> |
<%= link_to 'Back', article_comments_path %>

<!--%= link_to 'Show', @comment %> |
<%= link_to 'Back', comments_path %-->
