<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @comment.content %>
</p>

<p>
  <strong>User:</strong>
  <%= @comment.user_id %>
</p>

<p>
  <strong>Article:</strong>
  <%= @comment.article_id %>
</p>

<%= link_to 'Edit', edit_article_comment_path(@comment.article, @comment) %> |
<%= link_to 'Back', article_path(@comment.article) %>

<!--%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %-->