<%= simple_form_for @article, :html => {:multipart => true} do |f| %>
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% @article.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.input :name, label: 'Title', input_html: {maxlength: 20} %>
  <%= f.input :content %>
  <%= image_tag(@article.image_url) if @article.image? %>
  <%= f.input :image %>
  <%= f.association :tags, as: :check_boxes %>
  <div class="form-actions">
    <%= f.button :submit, "Submit" %>
  </div>
<% end %>
