<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @article.name %>
</p>

<p>
  <strong>Content:</strong>
  <%= image_tag(@article.image_url) if @article.image? %>
  <%= @article.content %>
</p>

<p>
  <%= image_tag @article.image.url(:mini) if @article.image? %>
  <%= image_tag @article.image.thumbnail.url if @article.image? %>
  <%= image_tag @article.image.medium.url if @article.image? %>
</p>

<p>
  <strong>Author:</strong>
  <%= @article.user.name %>
</p>

<% if can? :update, @article %>
<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Destroy', @article, method: :delete, data: { confirm: 'Are you sure?' } %> |
<% end %>
<%= link_to 'Back', articles_path %>
<h2>Comment</h2>
<ul>
  <% @article.comments.each do |comment| %>
    <li>
      <p><%= comment.content %></p>
      <p>By: <%= comment.user_name %></p>
      <% if can? :update, comment %>
        <%= link_to 'Edit comment', edit_article_comment_path(@article, comment) %> |
      <% end %>
      <% if can? :destroy, comment %>
        <%= link_to 'Destroy Comment', [comment.article, comment],
          :confirm => 'Are you sure?',
          :method => :delete %>
      <% end %>
    </li>
  <% end %>
</ul>
<%= simple_form_for([@article, @comment]) do |f| %>
  <%= f.input :content, label: "Comment" %>
  <%= f.button :submit, "Submit" %>
<% end %>